$color-base: #FFFFFF;

.signin {
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 24px 32px 40px;
	gap: 40px;

	position: relative;
	width: 720px;
	height: 490px;

	color: #000000;
	background: $color-base;
	border: 1px solid #F0F0F0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;

	&-wrapper {
		width: 656px;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-title {
		width: 68px;
		height: 33px;

		font-family: 'Avenir';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 33px;
		/* identical to box height */

		text-align: center;

		color: #000000;
	}

	&-message {
		width: 226px;
		height: 22px;

		font-family: 'Avenir';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;

		text-align: center;
		color: #777777;

		a {
			text-decoration: none;
		}

	}

	&-form {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		height: 100%;
		width: 100%;

		input {
			letter-spacing: 1.5px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 10px 12px;
			gap: 252px;

			width: 656px;
			height: 40px;

			background: #FFFFFF;
			border: 1px solid #E1E1E1;
			border-radius: 4px;
		}
	}

}